body,html{
    text-align: center;
    color: white;
}

.igazit {
    text-align: center;
}

.formazas {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.formazas:hover {
    background-color: darkblue;
}

li {
font-size: 20px;
}

