.link-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 10px; 
    padding: 80px;
    
}

.link-container a {
    text-decoration: none;
    padding: 10px 60px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: blue;
    color: white;
    transition: background-color 0.3s;
    text-align: center;
    
}

.link-container a:hover {
    background-color: blue;
}

