.table {

        width: 450px;
        height: 450px;
        border-collapse:collapse;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
}

.stílus {

    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color: #cccccc;
    height: 50px;

}


.red {

    background-color: red;
}

.baige {

    background-color: #ffff88;
}

.yellow {

    background-color: yellow;
    text-align: center;
}

.scroll {

        overflow: scroll;
        height: 150px;
        width: 150px;
        text-align: justify;
}

.center {

    text-align: center;
}

h2 {

    padding-left: 150px;

}